      * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          /*This prevents users being able to select text. Stops long presses in iOS bringing up copy/paste UI for example. Note below we specifically switch user-select on for inputs for the sake of Safari. Bug here: https://bugs.webkit.org/show_bug.cgi?id=82692*/
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          /*This gets -webkit specific prefix as it is a non W3C property*/
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          /*Older Androids need this instead*/
          -webkit-tap-highlight-color: transparent;
          max-height: 100%;
      }
      
      body,
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          margin: 0;
      }
      
      ul {
          list-style: none;
          padding: 0;
          margin: 0;
      }
      
      a {
          text-decoration: none;
      }
      
      body {
          margin: 0;
          color: #000;
      }
      
      html,
      body,
      .swiper-container {
          height: 100%;
      }
      
      .swiper-container {
          position: relative;
      }
      
      .swiper-slide {
          position: relative;
          color: #000;
      }
      
      .img1 {
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: .5rem;
          left: .5rem;
      }
      
      .yinyue {
          position: absolute;
          top: .4rem;
          right: .4rem;
          width: .6rem;
          height: .6rem;
          z-index: 2000;
          background: url("../img/bgmBtn-fbd2dc.svg") no-repeat center/cover;
          -webkit-animation: df 2s infinite linear;
          -moz-animation: df 2s infinite linear;
          -o-animation: df 2s infinite linear;
          animation: df 2s infinite linear;
      }
      
      @-webkit-keyframes df {
          from {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg)
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg)
          }
      }
      
      @-moz-keyframes df {
          from {
              -moz-transform: rotate(0deg);
              transform: rotate(0deg)
          }
          to {
              -moz-transform: rotate(360deg);
              transform: rotate(360deg)
          }
      }
      
      @-o-keyframes df {
          from {
              -o-transform: rotate(0deg);
              transform: rotate(0deg)
          }
          to {
              -o-transform: rotate(360deg);
              transform: rotate(360deg)
          }
      }
      
      @keyframes df {
          from {
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg)
          }
          to {
              -webkit-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg)
          }
      }
      
      .img2 {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background: url("../img/295017.jpg") no-repeat center/cover;
          opacity: .5;
      }
      
      .fghgfh {
          -webkit-animation: bg both;
          -moz-animation: bg both;
          -o-animation: bg both;
          animation: bg both;
      }
      
      @-webkit-keyframes bg {
          form {
              -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
              -webkit-transform-origin: 60%;
              transform-origin: 60%;
          }
          to {
              -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
              -webkit-transform-origin: 100% 60%;
              transform-origin: 100% 60%;
          }
      }
      
      @-moz-keyframes bg {
          form {
              -moz-transform: scale(1, 1);
              transform: scale(1, 1);
              -moz-transform-origin: 60%;
              transform-origin: 60%;
          }
          to {
              -moz-transform: scale(1.2, 1.2);
              transform: ！scale(1.2, 1.2);
              -moz-transform-origin: 100% 60%;
              transform-origin: 100% 60%;
          }
      }
      
      @-o-keyframes bg {
          form {
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
              -o-transform-origin: 60%;
              transform-origin: 60%;
          }
          to {
              -o-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
              -o-transform-origin: 100% 60%;
              transform-origin: 100% 60%;
          }
      }
      
      @keyframes bg {
          form {
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
              -webkit-transform-origin: 60%;
              -moz-transform-origin: 60%;
              -o-transform-origin: 60%;
              transform-origin: 60%;
          }
          to {
              -webkit-transform: scale(1.2, 1.2);
              -moz-transform: scale(1.2, 1.2);
              -o-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
              -webkit-transform-origin: 100% 60%;
              -moz-transform-origin: 100% 60%;
              -o-transform-origin: 100% 60%;
              transform-origin: 100% 60%;
          }
      }
      
      .binj {
          position: absolute;
          bottom: .4rem;
          left: 50%;
          width: .3rem;
          height: .3rem;
          border: transparent;
          border-top: 6px solid #fff;
          border-right: 6px solid #fff;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg)
      }
      
      .dfgrtyt {
          -webkit-animation: dfsvdf infinite linear;
          -moz-animation: dfsvdf infinite linear;
          -o-animation: dfsvdf infinite linear;
          animation: dfsvdf infinite linear;
      }
      
      @-webkit-keyframes dfsvdf {
          from {
              -webkit-transform: translate(0rem, 0rem) rotate(-45deg);
              transform: translate(0rem, 0rem) rotate(-45deg);
              opacity: 1;
          }
          to {
              -webkit-transform: translate(0rem, -.5rem) rotate(-45deg);
              transform: translate(0rem, -.5rem) rotate(-45deg);
              opacity: 0;
          }
      }
      
      @-moz-keyframes dfsvdf {
          from {
              -moz-transform: translate(0rem, 0rem) rotate(-45deg);
              transform: translate(0rem, 0rem) rotate(-45deg);
              opacity: 1;
          }
          to {
              -moz-transform: translate(0rem, -.5rem) rotate(-45deg);
              transform: translate(0rem, -.5rem) rotate(-45deg);
              opacity: 0;
          }
      }
      
      @-o-keyframes dfsvdf {
          from {
              -o-transform: translate(0rem, 0rem) rotate(-45deg);
              transform: translate(0rem, 0rem) rotate(-45deg);
              opacity: 1;
          }
          to {
              -o-transform: translate(0rem, -.5rem) rotate(-45deg);
              transform: translate(0rem, -.5rem) rotate(-45deg);
              opacity: 0;
          }
      }
      
      @keyframes dfsvdf {
          from {
              -webkit-transform: translate(0rem, 0rem) rotate(-45deg);
              -moz-transform: translate(0rem, 0rem) rotate(-45deg);
              -o-transform: translate(0rem, 0rem) rotate(-45deg);
              transform: translate(0rem, 0rem) rotate(-45deg);
              opacity: 1;
          }
          to {
              -webkit-transform: translate(0rem, -.5rem) rotate(-45deg);
              -moz-transform: translate(0rem, -.5rem) rotate(-45deg);
              -o-transform: translate(0rem, -.5rem) rotate(-45deg);
              transform: translate(0rem, -.5rem) rotate(-45deg);
              opacity: 0;
          }
      }