.Integr-Return { font-size: .4rem; font-weight: 800; }

.Integr-icon { font-size: .55rem !important; }

.pbox { border-top: .02rem solid #d5d5d5; }

.Integr-font { padding: 0rem .32rem; color: #333; }

.Integr-font h3 { font-size: .34rem; padding: .46rem 0 .28rem; }

.Integr-font p { max-height: 100%; font-size: .28rem; line-height: .48rem; }
