body { background-color: #eee; }

.outbox { width: 100%; }

i.icon { color: #fff; }

.my_login { height: 4.08rem; width: 100%; background: #fa5c70 url("../images/pics/top_bg_new.jpg") no-repeat bottom; padding: 0 .24rem; position: relative; background-size: 100% 100%; }

.my_login p { text-align: right; padding-top: .28rem; padding-bottom: .4rem; }

.my_login p i.iconfont { font-size: .56rem; }

.my_login p i.icon2 { margin-left: .1rem; }

.content-head { width: 100%; height: 1.54rem; }

.content-head .port { width: .73rem; height: .73rem; }

.content-head .port img { border-radius: 50%; }

.user-Order { height: 2.32rem; width: 100%; margin-bottom: .2rem; padding-left: .2rem; background: #fff; }

.user-Order .Order-first { height: 0.9rem; border-bottom: .02rem solid #eee; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; padding-right: .24rem; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }

.user-Order .Order-last { height: 1.4rem; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; padding: .16rem 0rem; }

.fl-title { font-size: .32rem; }

.fr-title { font-size: .24rem; color: #888888; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.fr-title .icon-more { color: #989898; font-size: .4rem; }

.last-list { width: 25%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; flex-direction: column; justify-content: center; align-items: center; }

.last-list:hover .list-font { color: #ee2424; }

.last-list i { height: .72rem; padding: .1rem 0rem; font-size: .48rem; }

.last-list .list-font { height: .4rem; line-height: .4rem; font-size: .24rem; }

.pe-Center2-menu { width: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; background: #fff; }

.pe-Center2-menu .menu-list { width: 24.8%; height: 2rem; padding: .14rem 0rem; border-right: .02rem solid #eee; border-bottom: .02rem solid #eee; }

.pe-Center2-menu .menu-list:nth-child(4n) { border-right: 0rem; }

.menu-box { width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; flex-direction: column; align-items: center; }

.menu-box .menu-img { height: .5rem; margin: .25rem 0rem; width: .5rem; }

.menu-box .menu-introduce { font-size: .24rem; margin-bottom: .24rem; }

.menu-box .menu-describe { font-size: .24rem; color: #999999; }

.menu-box .img_personal1 { background: url("../images/pics/img_personal1.png") no-repeat center/cover; }

.menu-box .img_personal2 { background: url("../images/pics/img_personal2.png") no-repeat center/cover; }

.menu-box .img_personal3 { background: url("../images/pics/img_personal3.png") no-repeat center/cover; }

.menu-box .img_personal4 { background: url("../images/pics/img_personal4.png") no-repeat center/cover; }

.menu-box .img_personal5 { background: url("../images/pics/img_personal5.png") no-repeat center/cover; }
