.Returngoods-icon { font-size: .5rem !important; font-weight: 800; }

.Returngoods-Doubt { font-size: .5rem !important; }

.Returngoods-mrg { margin-top: 2rem; }

.Returngoods-font { line-height: .4rem; }
