.Returnproblem-icon { font-size: .5rem !important; font-weight: 800; }

.Integr-font { padding: 0rem .32rem; color: #333; max-height: 100%; }

.Integr-font h3 { font-size: .34rem; padding: .46rem 0 .28rem; }

.Integr-font p { font-size: .28rem; line-height: .48rem; }
