$w:100%;
$c:#fff;
body {
    color: #333;
}
// 头部
.navs {
    width: $w;
    background: $c;
    height: .92rem;
    line-height: .92rem;
    padding: 0 .4rem;
    border-bottom: .02rem solid #dedede;
    a {
        position: absolute;
        font-size: .32rem;
        padding-left: .1rem;
        &::before {
            content: '';
            position: absolute;
            left: -15%;
            top: 50%;
            margin-top: -.16rem;
            height: .3rem;
            width: .3rem;
            border-left: 0.03rem solid #666;
            border-bottom: 0.03rem solid #666;
            transform: rotate(45deg);
        }
    }
    h1 {
        width: $w;
        margin: 0 auto;
        text-align: center;
        font-size: .4rem;
        font-weight: 400;
    }
}
//轮播
.Carousel{
    margin: 0 auto;    
   .list-boxa{
       width:100%;
       overflow: hidden;
   }
    .col{
        width:300%;
        display:flex;
       li{
         flex-grow: 1;
         a{
             width:$w;
         }
       }
    }
}
//图片文字导航
.pic-text{
    height:3.38rem;
    width:$w;
    background-color:$c;
    flex-wrap: wrap;
    padding:.1rem 0;
    border-bottom:1px solid #dedede;
    a{
        width:20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .28rem;
        img{
           width:.8rem;
           height:.8rem;
        }
   span{
       padding-top:13%;
       font-size: .28rem;
   }
    }
}
// 头条
.hot-box{
    display: flex;
    height:.8rem;
    background-color:$c;
    .headlines{
       margin-left:.24rem;
        width:25%;
       
        background:url('../images/homeapp/headlines.png') no-repeat 0 center/cover;
        background-size:100%;
    }
    .hots{
       width:75%;
        .list{
            height:100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .list-title{
                width:100%;
                height:100%;
                a{
                    display: block;
                    padding-left:.4rem;
                    height:.8rem;
                    position: absolute;
                    top:50%;
                    margin-top: -.11rem;
                    color:#999;
                    font-size: .25rem;
                }
            }
        }
    }
}
//每日必秒
.active-img-box{
    margin-top: .16rem;
    width:$w;
    .imga{
       width:$w;
       height:.8rem;
       background:$c;
        padding:.21rem 0;
       p{
          width: 2.7rem;
          height:.36rem;
          background:url('../images/homeapp/miaosha.png') no-repeat center center;
          background-size:100% 100%;
          margin: 0 auto;
          line-height: .36rem;
         
       } 
    }
}
//tab切换
.buying{
    width:$w;
    height:1rem;
    background-color:#666;
   
    .five{
        width:50%;
        text-align: center;
        color:$c;
        position: relative;
        font-size: .24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition:all .2s;
        p{
            font-size: .32rem;
        }
        span{
            padding-top:.1rem;
            margin-bottom:.1rem;
        }
    }
    .active-list{
        background-color:#1d967e;
  
    }
    .active-list span:before{
        content:'';
        position: absolute;
        bottom:1px;
        left:50%;
        width:30%;
        height:8px;
        background:$c;
        margin-left:-15%;
        
    }
    .active-list i:before{
          content: '';
          position: absolute;
          border-width: .72rem;
          z-index: 3;
          width: 0;
          right: -.7rem;
          bottom: -.72rem;
          border-style: solid dashed solid solid;
          border-color: transparent #1d967e transparent transparent;
          transform: rotate(-45deg)

    }
    .active-list .cur::before{
               content: '';
               position: absolute;
               border-width: .72rem;
               z-index: 3;
               width: 0;
              left: -.7rem;
               bottom: -.72rem;
               border-style: solid dashed solid solid;
               border-color: transparent #1d967e transparent transparent;
               transform: rotate(-135deg)
    }
}
.timebox{
    padding:0 .2rem;
    color:#666;
    font-size: .56rem;
    line-height:.66rem;
    .num{
        border:1px solid #666;
        border-radius: .04rem;
        color:#000;
        padding:0.02rem;
    }
}
// tab切换内容 滑动
.img-mbox{
    display:none;
    transition:all .2s;
    background:$c;
    ul{
        li{
            width:2.06rem;
            background-color:$c;
            margin-right:.02rem;
            flex-shrink:0;
            a{
                display: block;
                margin: 0 auto;
                text-align: center;
                
                img{
                    width:1.32rem;
                    height:.1.32rem;
                    display: inline-block;
                    margin: .1rem 0;
                }
                h3{
                    padding:0 10%;
                    display: -webkit-box;
                    -webkit-line-clamp:2;
                    -webkit-box-orient: vertical;
                    height:0.67rem;
                    line-height: .34rem;
                    font-weight: 400;
                    font-size: .24rem;
                    overflow: hidden;
                    text-align: left;
                       
                }
                p{
                    margin: 10%;
                    border:1px solid #1e977f;
                    border-radius:.05rem;
                    overflow:hidden;
                    .span-p{
                        background:#1e977f;
                        color:$c;
                        width:25%;
                        float: left;
                        text-align: center;
                        display: block;
                        line-height: .38rem;
                        height:.38rem;
                    }
                    .icon{
                        font-size: .24rem;
                    }
                    .nums{
                        font-size: .28rem;
                        color:#d7063b;
                        margin-left: .04rem;
                        line-height: .38rem;
                        &:before{
                            font-size: .3rem;
                            content:'\00a5';
                        }
                    }
                }
            }
        }
    }
}
.img-abox{
    display: block;
}
.clearfix:after {
    content: ".";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.pic-group{
    width:$w;
    margin-top:.16rem;
    img{
        width:100%;
        height:100%;
    }
    .pin-left{
        float: left;
        width:40%;
        border-right:1px solid #eee;
    }
    .right-box{
        float:right;
        width:60%;
       .a-box{
            border-bottom:1px solid #eee;
        }
      .down{
          display: flex;
          a{
              flex:1;
              img{
                  width:100%;
                  height:100%;
              }
              &:last-child{
                  border-left:1px solid #eee;
              }
          }
      }
    }
}
.pic-box4{
    margin-top: .16rem;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    a{
        width:50%;
        img{
            width:100%;
            height:100%;
        }
        &:nth-child(1){
            border-right:1px solid #eee;
        }
         &:nth-child(3) {
             border-right: 1px solid #eee;
         }
    } 
}
.bann{
    margin-top: .16rem;
    width:$w;
    a{
        display: block;
    }
}
// tab切换2
.subnav1{
    margin-top: .16rem;
    line-height: 0.8rem;
    height:.8rem;
    position: relative;
    width:100%;
    ul{
        margin-right:.8rem;
         background:$c;
         height:.8rem;
        
        li{
            margin: 0 .24rem;
            float: left;
             height:.8rem;
            
            a{
                display: inline-block;
                height:.8rem;
                color:#000;
                font-size: .28rem;
            }
           
        }
    }
}
.fixed{
    position: fixed;
    top:0;
    left:0;
    margin-top: 0;
    z-index: 99999;
}
 .active-a {
     color: #1e977f;
     border-bottom: 4px solid #1e977f;
 }
.btn-box {
    position: absolute;
    top:0;
    right:0;
    width: .8rem;
    height: 100%;
        transition: transform .3s ease,
        -webkit-transform .3s ease;
        box-shadow: -1px 0 8px -1px rgba(102, 102, 102, .3);
a {
    display: block;
    width: .8rem;
    height: 100%;
    background: $c;
     text-align: center;
   
    .iconk{
        font-size: .4rem;
        color: #000;
         line-height: .8rem;
        font-weight: bold;
    }
}
}
.shops{
    width:$w;
    .items-shop{
        width:49.3%;
        background:$c;
        margin-top: 1.4%;
        float: left;
    }
    a{
        position: relative;
        display: block;
        width:100%;
        height:100%;
        img{
   
            width:100%;
    
        }
        h3{
       
            margin: .4rem .16rem 0;
            height:.8rem;
            line-height: .4rem;
            color:#333;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .footer-file{
        height:.7rem;
        margin:.12rem .16rem .02rem;
        overflow: hidden;
        position: relative;
      span{
          font-size: .32rem;
          color:#d7063b;
          font-weight: bold;
          margin-right:.2rem;
      }
      del{
          color:#666;
      }
      .join{
          width:.6rem;
          height:.6rem;
          border-radius: 50%;
          background:#ffefef;
          text-align: center;
          line-height: .6rem;
          position: absolute;
          right:1px;
          top:px;
          border:1px solid #d7063b;
          .iconj{
              color:#d7063b;
              font-size: .4rem;
          }
      }
    }
    .items-right{
        float:right;
    }
}
.shops{
    display: none;
}
.shop-active{
    display: block; 
}
.banner{
    .top-box{
        p{
            line-height: .8rem;
            text-align: center;
            color:#1e977f;
            span{
                padding:0 .1rem;
                position: relative;
                &:before{
                    left:-60%;
                    display: block;
                    content:'';
                    position: absolute;
                    top:50%;
                    width:60%;
                    height:1px;
                    background:#1e977f
                }
                &:after{
                    display: block;
                    content:'';
                    position: absolute;
                    top:50%;
                    width:60%;
                    height:1px;
                    background:#1e977f;
                    right:-60%;
                }
            }
        }
    }
}
.banner-box{
    width:$w;
    display:flex;
    flex-wrap:wrap;
    background:$c;
    padding:.24rem .24rem 0 0;
   
    a{
        width:22%;
        margin: 0 0 3% 3%;
        img{
            width:$w;
            height:$w;
        }
    }
}
.pic-box{
    width:$w;
 position: relative;
   padding-bottom:.3rem;
   height:3rem;
}
.none-d {
    background: #eee;
    padding:0 .1rem;
    .img-boxa {
        width: 1.05rem;
        height: 1.1rem;
        margin: .3rem auto .1rem;
        position: relative;
        &::before {
            content: '';
            width: 1rem;
            height: 1px;
            background: #999;
            position: absolute;
            left: -1rem;
            top: 60%;
        }
        img {
            width: 100%;
            height: 100%;
        }
        &:after {
            content: "";
            width: 1rem;
            height: 1px;
            background: #999;
            position: absolute;
            right: -1rem;
            top: 60%;
        }
    }
    p {
        text-align: center;
        padding-top:.1rem;
    }
}
//底部
.footer-boxa{
    position: fixed;
    bottom:0;
    left:0;
    width:$w;
    z-index: 99999;
    height:1rem;
    background:$c;
    padding:.2rem .1rem;
    display: flex;
    a{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width:.4rem;
            height:.4rem;
        }
        span{
            padding-top:.1rem;
            
        }
     .cur{
            color: #1e977f;
        }
    }
}
//描述：返回顶部和fixedbtn图标
//编辑：王学丰
.duc-fixedbtn {
    position: fixed;
    right: .2rem;
    bottom: 1.4rem;
    z-index: 99999;
    .fixedbtn-list {
        position: relative;
        left: 0rem;
        top: 0rem;
        height: 0.88rem;
        width: 0.72rem;
        padding: .1rem 0rem;
    }
}

.fixedbtn-link {
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: .02rem solid #cfcfcf;
    text-align: center;
    height: 0.68rem;
    display: block;
    line-height: .68rem;
    width: 100%;
    .fixedbtn-iconfont {
        font-size: .32rem;
        font-weight: 900;
    }
}

.fixedbtn-number {
    position: absolute;
    right: .01rem;
    top: .06rem;
    min-width: .37rem;
    height: .37rem;
    line-height: .37rem;
    display: block;
    background: #c70034;
    font-size: .18rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.hided{
    display: none;
}
.swiper-pagination{
    text-align: right;
    .swiper-pagination-bullet{
        background-color:#fff;
        
    }
.swiper-pagination-bullet-active{
    background-color:#c20053;
}
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 .1rem;
}
// 点击导航中的按钮时固定出现在顶部
.header-fixed-box{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
   height:100%;
    width:$w;
    .headers{
        position: absolute;
        z-index: 100;
         padding:0 .24rem;
         height:.8rem;
         background:$c;
         width:$w;
         display: flex;
         justify-content: space-between;
         line-height: .8rem;
         span{
            color:#000;
            font-size: .28rem;
         }
         .iconnft{
          
             font-size: .5rem;
             color:#000;
             font-weight: bold;
             
         }
    }
    .bg{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity: .7;
        z-index: 78;
        transition: opacity .3s ease;
        background-color: rgba(0, 0, 0, .6);
    }
   .header-down{
    width:$w;
    height:1.6rem;
   background: rgba(255, 255, 255, .9);
    position: absolute;
    z-index: 99;
    color:#000;
    padding-left:.24rem;
    margin-top:.8rem;
    a{
       line-height: .8rem;
       font-size: .28rem;
       color:#333;
       margin-right:1.1rem;
       
    }
    .current{
        color:#1e977f;
    }
   }

}
