.header{
    display: flex;
    height: 0.88rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: #d5d5d5 solid 1px;
    line-height: .88rem;
    div{
        height: 100%;
    }
    i{
        padding-left: .16rem;
        color: #888;
    }
    .h-back{
        i{
            font-size: .5rem;
            font-weight: 700;
            color:#333;
        }
    }
    .h-search{
        display: flex;
        align-items: center;
        flex:1;
        margin-left: .1rem;
        i{
            font-size: .36rem;
        }
        .h-s-con{
            height: .64rem;
            width: 100%;
            display: flex;
            align-items: center;
            background: #e5e5e5;
            border-radius:.08rem;
            margin: 0 .1rem 0 .2rem;
            input{
                height: 100%;
                width: 100%;
                background: #e5e5e5;
                margin-left: .1rem;
                border-radius:.08rem;            
            }
        }
    }
    .h-search-go{
        padding-right: .15rem;
        button{
            font-size: .32rem;
            background: #fff;
            border:none;
            color:#666;
        }  
    }
}
.main{
    padding: .06rem .24rem .15rem;
    color:#333;
    h3{
        height: 0.7rem;
        line-height: 0.7rem;
        font-size: .28rem;
        i{
            font-size: .32rem;
            font-weight: 700;
            margin-right: .16rem;
        }
    }
    .m-ul{
        font-size: .28rem;
        li{
            height: 0.54rem;
            border-radius:.04rem;
            border: 1px solid #d5d5d5;
            margin: 0 .15rem .15rem 0;
            float: left;
            line-height: .54rem;
            a{
                display: block;
                width: 100%;
                padding: 0 .31rem;
            }
        }
    }
}