@mixin wh($wh:width){
    #{$wh}:100%
}
@mixin dip($wrap:nowrap){
    -webkit-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
}
$clr:#333333;
//描述：(个人中心teb切换)
//编辑：王学丰

.Centr-list{
    border-top:.02rem solid #e7e7e7;
    height: .8rem;
    -webkit-box-align:center;
    -webkit-align-items:center;
       -moz-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    @include dip;
    background: #fff;
    .Centr-list-nav{
        height: 100%;
        line-height: .8rem;        
        text-align: center;
        font-size:.28rem;
        color:$clr;
    }
    .Centr-list-active{
        color:#c20053;
        border-bottom:.04rem solid #c20053;
    }
}
//宽度可以自定义
.Centr-list-ted{
    @include wh;
    position:relative;
    .Centr-ted-type{
        position: absolute;
        display: none;
        top:0;
        right:-100rem;
        padding-top:1rem;
    }
    .Centr-type-active{
        right:0rem;
        z-index: 2;
        display: block;
    }
}
.Centr-tedbox{
    height:6rem;
}
.list-ted-img{
    width: 100%;
    margin-top:1rem;
}
.Centr-list-font{
    padding:.6rem 0rem;
    font-size:.32rem;
    text-align: center;
}
.Centr-ted-link{
    // background: #ff4b3d;
    display: block;
    background-color: #d7063b;
    color: #fff;
    line-height: .8rem;
    font-size: .42rem;
    text-align: center;
    -webkit-border-radius: .06rem;
       -moz-border-radius: .06rem;
            border-radius: .06rem;
    margin: .3rem .2rem;
}
.Centr-Nodata{
    @include wh;
    padding-top:1rem;
}
//这是放在后面不要动他 还有谁要是写的有display:block;的样式就不要在用嵌套了 直接写到外面
.hided-pseronna{
    display:none;
}
