body {
  background-color: #eee;
}
$wid:100%;
$list:0rem .04rem .32rem;
$c3:#333;
%d {
  top: nth($list, 1);
  left: nth($list, 1);
}
%w {
  width:$wid;
}

.boxw{
  @extend %w;
}
// 头部伪元素
.topbox {
  width: $wid;
  height: .88rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #d5d5d5;
  h1 {
    text-align: center;
    line-height: .88rem;
    color: #333;
    font-size: .36rem;
  }
  a {
    position: absolute;
    display: inline-block;
    width: .8rem;
    height: .8rem;
  }
}

.retu {
  position: absolute;
  @extend %d;
  display: block;
  width: .8rem;
  height: .8rem;
  &:after {
    content: '';
    position: absolute;
    left: 40%;
    top: 50%;
    margin-top: -.16rem;
    height: .32rem;
    width: .32rem;
    border-left: nth($list, 2) solid $c3;
    border-bottom: nth($list, 2) solid $c3;
    transform: rotate(45deg);
  }
}
//弹性盒子
.flexa{
  display: flex;
}
//主副轴居中
.justc{
  justify-content:center;
  align-items: center;
}
//自动扩展
.kuzh{
  flex:1;
}
//副轴居中
.fuy{
  align-items: center;
}
//主轴两端对齐
.lddq{
  justify-content: space-between;
}
//主轴居中
.axis{
  justify-content: center;
}
